<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performance Measure</title>
</head>
<body>
    <table border="2" bordercolor="green">
        <tr><th>Average Best Fitness Value</th></tr>
        <tr>
            <td></td>
            <td>GA</td>
            <td>KBGA</td>
        </tr>
        <tr>
            <td>Datasets</td>
            <td>
                <table border="2" bordercolor="blue">
                    <tr>
                        {% for i in cols %}
                        <td>{{i}}</td>
                        {% endfor %}
                    </tr>
                </table>
            </td>
            <td>
                <table border="2" bordercolor="blue">
                    <tr>
                        {% for i in cols %}
                        <td>{{i}}</td>
                        {% endfor %}
                    </tr>
                </table>
            </td>
        </tr>
        {% for dataset, vals in abfv.items() %}
            <tr>
                <td>{{dataset}}</td>
                <td>
                    <table border="2" bordercolor="blue">
                        <tr>
                            {% for j in vals %}
                            <td>{{j}}</td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>